/* Diseño @wilodev */
@font-face {
    font-family: 'Rift';
    src: url('/assets/fonts/Rift/Rift-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ur{
    font-family: 'Rift';
}
.bg-dark{
    background-color: #000 !important;
}